<app-header></app-header>
<div class="main-content">
    <div class="header-content">
        <div class="person-detail-text">Person Details</div>
        <div class="add-button">
            <button class="add-button" routerLink="/add" routerLinkActive="active"> +Add User</button>
        </div>
    </div>

    <div class="table-main">
        <table id="table-display" class="table">
            <tr>
                <th></th>
                <th>Full Name</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip Code</th>
                <th>Phone Number</th>
                <th></th>
            </tr>

        </table>
    </div>
</div>